#validate
{
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    font-size: bold;
    background-color: white;
}
input
{
    display: block;
    margin: 10px;
    border: 1.5px solid;
    border-radius: 5px;
    background: #d3d3d3bf;
    padding: 5px;
}
input#keepsession
{
    margin-left: 0px!important;
    transform: scale(1.5);
    display: inline!important;
}

input#validate:hover
{
   transform: scale(1.1);
}